* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::selection {
	background: #006241;
	color: #fff;
}

.header {
	background-color: #006241;
	font-size: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.75em 1.25em;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	box-shadow: 2px 8px 26px 0px rgba(0, 0, 0, 0.75);
}

.header__logo {
	width: 3em;
	height: 3em;
}

.header__nav {
	display: none;
}

.header__container-login {
	display: none;
}

.header__nav-link {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
}

.header__icon {
	color: white;
	font-size: 2.5rem;
}

.main {
	width: 90%;
	margin: 125px auto 50px;
	display: flex;
	flex-direction: column;
}

.main__title {
	font-weight: bold;
	font-size: 3.5rem;
	line-height: 1.15em;
}

.main__title--green {
	color: #006241;
}

.main__description {
	font-weight: bolder;
	margin-top: 1.25em;
	line-height: 1.5em;
}

.main__img {
	display: none;
	user-select: none;
}

.gallery {
	background-color: #006241;
	padding: 2em 0;
}

.gallery__container-img {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: 0 auto;
	padding: 0 0 1.5em;
}

.gallery__img {
	margin-top: 1.5em;
}